{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:import/typescript"
  ],
  "overrides": [
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "max-len": ["error", { "code":  120}],
        "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
        "consistent-return": ["off", { "treatUndefinedAsUnspecified": false }],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.spec.js", "**/test-utils.tsx"]}]
      }
    }
  ]
}
